html{
  scroll-behavior: smooth;
  font-family: Georgia;
}

:target {
  display: block;
  position: relative;
  top: -100px; 
  visibility: hidden;
}

/* Loader */

.bg{
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 99990;
}

.loader4 {
  width:200px;
  height:200px;
  display:inline-block;
  position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;
  border-radius:100%;
  border:5px solid;
  border-top-color:#66FCF1;
  border-bottom-color:rgba(255,255,255, 0.3);
  border-left-color:#66FCF1;
  border-right-color:rgba(255,255,255, 0.3);
  -webkit-animation: loader4 1s ease-in-out infinite;
  animation: loader4 1s ease-in-out infinite;
  z-index: 99999;
  background-color: #000000;

}
@keyframes loader4 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loader4 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}



/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}



#section08 a {
  padding-top: 50px;
}
#section08 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #45A29E;
  border-radius: 50px;
  box-sizing: border-box;
}
#section08 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #45A29E;
  border-radius: 100%;
  box-sizing: border-box;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #45A29E;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


/* Navbar */

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #45A29E;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #66FCF1;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #45A29E;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #45A29E;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: #C5C6C7;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}



.text-small {
  font-size: 0.9rem !important;
}


body {
  min-height: 110vh;
  background-color: #4ca1af;
  background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}


/* body details */


.fp{
  color:#C5C6C7;
}

.profImg{
  width:70px;
  height:70px;
}

/* hide the scroller button */

@media screen and (max-width: 1024px) {
  .demo {
      display: none !important;
  }
}


/* part 1 of page */

.p1r1{
  color: #C5C6C7;
  font-size: xx-large;
}

.p1r2{
  color: #C5C6C7;
  font-size: 80px;
}

.p1r3{
  color: #C5C6C7;
  font-size: x-large;
}

/* part 2 of page */

.p2r1{
  color: #45A29E;
  font-size: 60px;
  text-align: center;
}
.p2r1:hover{
  color: #66FCF1;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
}

.p2r2H{
  margin-top: 100px;
  text-align: center;
  color : #C5C6C7;
  font-size: x-large;
}

.p2r2{
  margin-top: 80px;
  color : #C5C6C7;
  text-align: center;
  font-size: large;
}

.p2r3{
  margin-top: 80px;
  text-align: center;
  color : #C5C6C7;
  font-size: large;
}

.p2r4{
  margin-top: 80px;
  text-align: center;
  color : #C5C6C7;
  font-size: large;
}

.p2r5H{
  margin-top: 100px;
  text-align: center;
  color : #C5C6C7;
  font-size: x-large;
}

.p2r5{
  margin-top: 80px;
  text-align: center;
  color : #C5C6C7;
  font-size: large;
}

.p2r6{
  margin-top: 80px;
  text-align: center;
  color : #C5C6C7;
  font-size: large;
}

/* part 3 of page */

.p3r1{
  color: #45A29E;
  font-size: 60px;
  text-align: center;
}
.p3r1:hover{
  color: #66FCF1;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
}

.p3r2{
  margin-top: 80px;
}

.containerImgPro {
  position: relative;
  text-align: center;
  width: 80%;
}


.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: black ;
  overflow: hidden;
  width: 300px;
  height:0;
  transition: .5s ease;
}

.containerImgPro:hover .overlay {
  bottom: 0;
  text-align: center;
  width: 380px;
  height: 100%;
}

.imgPro{
  width: 300px;
  height: 250px;
}

.text {
  color: #C5C6C7;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* connect */

.p4r1H{
    color: #45A29E;
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
}
.p4r1H:hover{
  color: #66FCF1;
  font-size: 60px;
  text-align: center;
  margin-bottom: 100px;
  cursor: pointer;
}

.p4r1{
  height: 200px;
  width: 200px;
  text-align: center;
}

.p4Clonning{
  color: #45A29E;
}
.p4Clonning:hover{
  color: #66FCF1;
  cursor: pointer;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#C5C6C7;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#C5C6C7;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}